
:root {
    --bs-dark-rgb: 24, 25, 34;
    --bs-dark: #181922;
    --bs-primary: #eb453d;

    --pw_primary-fg: #212121;
    --pw_secondary_fg: #888a99;

    --pw_primary-bg: #181922;
    --pw_secondary-bg: #363848;

    --pw_corner-radius: 12px;
}

body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

section.overview-home {
    display: block;
    width: 100%;
    height: 100vh;
    padding-top: 56px;
    background-color: var(--bs-dark);
    background-image: url('../image/bg-home-fixed.png');
    background-position: top 56px left 0;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

section.overview-home h1 {
    font-size: 3.2rem;
    font-weight: 600;
    color: #FFFFFF;
}

section.overview-home h3 {
    font-size: 1.6rem;
    color: var(--pw_secondary_fg);
}

section.overview-info {
    padding: 114px 0;
}

section.overview-info h2 {
    font-size: 3rem;
    font-weight: 600;
}

section.overview-info h4 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--pw_secondary_fg);
}

section.overview-info p {
    font-size: 1.2rem;
}

.ft-glyph {
    color: var(--bs-primary);
    font-size: 3.6rem;
}

img.thin-frame {
    border: 1px solid var(--pw_secondary-bg);
    border-radius: var(--pw_corner-radius);
}

.card { border-radius: var(--pw_corner-radius); }
.card .card-img-top {
    border-top-left-radius: var(--pw_corner-radius);
    border-top-right-radius: var(--pw_corner-radius);
}

section.overview-info .info-plate {
    padding: 56px 56px 0 56px;
    background: var(--pw_primary-bg) none;
    border-radius: var(--pw_corner-radius);
    color: #FFFFFF;
}

.bg-github-cover {
    background-color: transparent;
    background-image: url('../image/bg-github-cover.png');
    background-size: 85%;
    background-position: top 0 right 0;
    background-repeat: no-repeat;
}

footer {
    background: var(--bs-primary);
    color: #FFFFFF
}

footer .bi {
    color: #FFFFFF;
    font-size: 1.8rem;
}