
:root {
    --bs-body-color: rgb(3, 6, 11);
    --bs-dark-rgb: 24, 25, 34;
    --bs-dark: #181922;
    --bs-success: #179221;

    --pw_accent-color: #eb453d;

    --pw_primary-fg: #212121;
    --pw_secondary-fg: #888a99;

    --pw_primary-bg: #181922;
    --pw_secondary-bg: #363848;

    --pw_corner-radius: 12px;
    --pw_corner-color: rgba(0,0,0,.125);
}

body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

main {
    display: block;
    position: relative;
}

a {
    text-decoration: none;
    color: var(--pw_accent-color);
}

section.overview-home {
    display: block;
    width: 100%;
    height: 100vh;
    padding-top: 16.5vh;
    background-color: var(--bs-dark);
    background-image: url('../image/bg-home-fixed.png');
    background-position: top 56px left 0;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/*
section.overview-home h1 {
    font-size: 3.2rem;
    font-weight: 600;
    color: #FFFFFF;
}

section.overview-home h3 {
    font-size: 1.6rem;
    color: var(--pw_secondary-fg);
}
*/

section.overview-info {
    padding: 85px 0;
}

.ft-glyph {
    color: var(--pw_accent-color);
    font-size: 3.6rem;
}

img.thin-frame {
    border: 1px solid var(--pw_corner-color);
    border-radius: var(--pw_corner-radius);
}

.card { border-radius: var(--pw_corner-radius); }
.card .card-img-top {
    border-top-left-radius: var(--pw_corner-radius);
    border-top-right-radius: var(--pw_corner-radius);
}

section.overview-info .info-plate {
    padding: 56px 56px 0 56px;
    background: var(--pw_primary-bg) none;
    border-radius: var(--pw_corner-radius);
    color: #FFFFFF;
}

.bg-github-cover {
    min-height: 300px;
    background-color: transparent;
    background-image: url('../image/bg-github-cover.png');
    background-size: 85%;
    background-position: top 0 right 0;
    background-repeat: no-repeat;
}

footer {
    display: block;
    font-size: 0.9rem;
}

footer .footer-top {
    padding: 56px 0;
}

footer .footer-top .material-icons {
    font-size: 1rem;
    color: var(--pw_accent-color);
}

footer .footer-base {
    background: var(--bs-dark);
    color: #FFFFFF;
    padding: 14px 0 12px 0;
}

footer .bi {
    color: #FFFFFF;
    font-size: 1rem;
}

ul.flat-list {
    display: block;
    padding: 0;
    margin: 0;
}

ul.flat-list li {
    display: block;
    padding: 5px 0;
}

footer ul.flat-list a {
    color: var(--pw_secondary-fg);
}

.x-platform-logo {
    width: 150px;
    height: 150px;
    margin: auto;
    display: block;
    border-radius: 50%;
    border: 5px solid var(--pw_secondary-fg);
    padding: 25px 15px;
}

.x-platform-logo .fa-brands {
    font-size: 5.3rem;
    color: var(--bs-secondary);
}

.btn-snapcraft {
    background-color: #252525;
    padding: 5px 0;
    border-radius: var(--pw_corner-radius);
}

.btn.btn-accent {
    background-color: var(--pw_accent-color);
    color: #FFFFFF;
}
